# Doha Amendment to the Kyoto Protocol

In [209]:
from pandas_datapackage_reader import read_datapackage

In [210]:
da = read_datapackage("https://github.com/openclimatedata/doha-amendment-entry-into-force")

In [211]:
da.head()

                     Name Acceptance
Code
DZA               Algeria 2015-09-28
ATG   Antigua and Barbuda 2016-09-23
ARG             Argentina 2015-12-01
AUS             Australia 2016-11-09
AZE            Azerbaijan 2015-07-01

# Paris Agreement

In [212]:
pa = read_datapackage("https://github.com/openclimatedata/paris-agreement-entry-into-force")

In [213]:
pa.head()

,Name,Signature,Ratification-Acceptance-Approval,Kind,Date-Of-Effect,Emissions,Percentage,Year
Code,,,,,,,,
AFG,Afghanistan,2016-04-22,NaT,NaN,NaT,19328.0,0.05,2005
ALB,Albania,2016-04-22,2016-09-21,Ratification,2016-11-04,6717.0,0.02,2000
DZA,Algeria,2016-04-22,2016-10-20,Ratification,2016-11-19,111023.0,0.30,2000
AND,Andorra,2016-04-22,NaT,NaN,NaT,522.0,0.00,2011
AGO,Angola,2016-04-22,NaT,NaN,NaT,61611.0,0.17,2005

### Combination of the two datasets

In [214]:
combined = pa.reset_index().merge(da.reset_index(), how="outer").set_index('Code')
combined = combined.rename(columns={
    "Acceptance": "Doha", 
    "Ratification-Acceptance-Approval": "Paris"
})
combined = combined[["Doha", "Paris"]].dropna(how="all")
combined = combined.drop("EU28")
combined = combined.join(pa.Name, how="left")[["Name", "Doha", "Paris"]]

In [215]:
combined.count()

Name     133
Doha      73
Paris    113
dtype: int64

#### Parties who so far ony accepted the Doha Amendment

In [216]:
only_doha = combined[combined.Paris.isnull()]
only_doha

                       Name       Doha Paris
Code
AZE              Azerbaijan 2015-07-01   NaT
BTN                  Bhutan 2015-09-29   NaT
CHE             Switzerland 2015-08-28   NaT
CHL                   Chile 2015-11-10   NaT
COG                   Congo 2015-05-14   NaT
CYP                  Cyprus 2015-12-10   NaT
DOM      Dominican Republic 2016-09-21   NaT
ECU                 Ecuador 2015-04-20   NaT
ETH                Ethiopia 2015-06-26   NaT
KEN                   Kenya 2014-04-07   NaT
KHM                Cambodia 2015-11-17   NaT
KNA   Saint Kitts and Nevis 2016-10-25   NaT
LBR                 Liberia 2015-08-17   NaT
LIE           Liechtenstein 2015-02-23   NaT
PHL             Philippines 2016-04-13   NaT
ROU                 Romania 2016-05-03   NaT
SDN                   Sudan 2014-02-03   NaT
SMR              San Marino 2015-08-04   NaT
TTO     Trinidad and Tobago 2015-08-06   NaT
ZWE                Zimbabwe 2016-04-20   NaT

#### Parties who so far ony accepted the Paris Agreement

In [217]:
only_paris = combined[combined.Doha.isnull()]
only_paris

                                                   Name Doha      Paris
Code
ALB                                             Albania  NaT 2016-09-21
AUT                                             Austria  NaT 2016-10-05
BEN                                               Benin  NaT 2016-10-31
BFA                                        Burkina Faso  NaT 2016-11-11
BLR                                             Belarus  NaT 2016-09-21
BLZ                                              Belize  NaT 2016-04-22
BOL                    Bolivia (Plurinational State of)  NaT 2016-10-05
BRA                                              Brazil  NaT 2016-09-21
CAF                            Central African Republic  NaT 2016-10-11
CAN                                              Canada  NaT 2016-10-05
CIV                                       Côte d'Ivoire  NaT 2016-10-25
CMR                                            Cameroon  NaT 2016-07-29
COK                                        Cook Islands  NaT 2016-09-01
DEU                                             Germany  NaT 2016-10-05
DMA                                            Dominica  NaT 2016-09-21
DNK                                             Denmark  NaT 2016-11-01
EST                                             Estonia  NaT 2016-11-04
FIN                                             Finland  NaT 2016-11-14
FJI                                                Fiji  NaT 2016-04-22
FRA                                              France  NaT 2016-10-05
GAB                                               Gabon  NaT 2016-11-02
GBR   United Kingdom of Great Britain and Northern I...  NaT 2016-11-18
GHA                                               Ghana  NaT 2016-09-21
GRC                                              Greece  NaT 2016-10-14
IND                                               India  NaT 2016-10-02
IRL                                             Ireland  NaT 2016-11-04
ISR                                              Israel  NaT 2016-11-22
JOR                                              Jordan  NaT 2016-11-04
JPN                                               Japan  NaT 2016-11-08
KNA                               Saint Kitts and Nevis  NaT 2016-04-22
LAO                    Lao People's Democratic Republic  NaT 2016-09-07
LCA                                         Saint Lucia  NaT 2016-04-22
LUX                                          Luxembourg  NaT 2016-11-04
MLT                                               Malta  NaT 2016-10-05
MNG                                            Mongolia  NaT 2016-09-21
MYS                                            Malaysia  NaT 2016-11-16
NER                                               Niger  NaT 2016-09-21
NIU                                                Niue  NaT 2016-10-28
NPL                                               Nepal  NaT 2016-10-05
PAK                                            Pakistan  NaT 2016-11-10
PNG                                    Papua New Guinea  NaT 2016-09-21
POL                                              Poland  NaT 2016-10-07
PRK               Democratic People's Republic of Korea  NaT 2016-08-01
PRT                                            Portugal  NaT 2016-10-05
PRY                                            Paraguay  NaT 2016-10-14
PSE                                  State of Palestine  NaT 2016-04-22
SAU                                        Saudi Arabia  NaT 2016-11-03
SEN                                             Senegal  NaT 2016-09-21
SLE                                        Sierra Leone  NaT 2016-11-01
SOM                                             Somalia  NaT 2016-04-22
STP                               Sao Tome and Principe  NaT 2016-11-02
SVK                                            Slovakia  NaT 2016-10-05
SWE                                              Sweden  NaT 2016-10-13
TKM                                        Turkmenistan  NaT 2016-10-20
TON                                               Tonga  NaT 2016-09-21
UKR                                             Ukraine  NaT 2016-09-19
URY                                             Uruguay  NaT 2016-10-19
USA                            United States of America  NaT 2016-09-03
VCT                    Saint Vincent and the Grenadines  NaT 2016-06-29
VUT                                             Vanuatu  NaT 2016-09-21

#### Parties who ratified and accepted both

In [203]:
both = combined[~combined.Paris.isnull() & ~combined.Doha.isnull()]
both

                                  Name       Doha      Paris
Code
ARE               United Arab Emirates 2013-04-26 2016-09-21
ARG                          Argentina 2015-12-01 2016-09-21
ATG                Antigua and Barbuda 2016-09-23 2016-09-21
AUS                          Australia 2016-11-09 2016-11-09
BGD                         Bangladesh 2013-11-13 2016-09-21
BHS                            Bahamas 2015-11-04 2016-08-22
BRB                           Barbados 2013-08-14 2016-04-22
BRN                  Brunei Darussalam 2014-11-14 2016-09-21
BWA                           Botswana 2016-03-07 2016-11-11
CHN                              China 2014-06-02 2016-09-03
COM                            Comoros 2014-09-07 2016-11-23
CRI                         Costa Rica 2016-09-21 2016-10-13
DJI                           Djibouti 2014-09-23 2016-11-11
DZA                            Algeria 2015-09-28 2016-10-20
FSM   Micronesia (Federated States of) 2014-02-19 2016-09-15
GIN                             Guinea 2016-04-06 2016-09-21
GMB                             Gambia 2016-11-07 2016-11-07
GRD                            Grenada 2015-04-01 2016-04-22
GUY                             Guyana 2014-12-23 2016-05-20
HND                           Honduras 2014-04-11 2016-09-21
HUN                            Hungary 2015-10-01 2016-10-05
IDN                          Indonesia 2014-09-30 2016-10-31
ISL                            Iceland 2015-10-07 2016-09-21
ITA                              Italy 2016-07-18 2016-11-11
KIR                           Kiribati 2016-02-11 2016-09-21
KOR                  Republic of Korea 2015-05-27 2016-11-03
LKA                          Sri Lanka 2015-12-02 2016-09-21
MAR                            Morocco 2014-09-05 2016-09-21
MCO                             Monaco 2013-12-27 2016-10-24
MDG                         Madagascar 2015-10-01 2016-09-21
MDV                           Maldives 2015-07-01 2016-04-22
MEX                             Mexico 2014-09-23 2016-09-21
MHL                   Marshall Islands 2015-05-07 2016-04-22
MLI                               Mali 2015-12-07 2016-09-23
MUS                          Mauritius 2013-09-05 2016-04-22
NAM                            Namibia 2015-02-17 2016-09-21
NOR                             Norway 2014-06-12 2016-06-20
NRU                              Nauru 2014-12-01 2016-04-22
NZL                        New Zealand 2015-11-30 2016-10-04
PAN                             Panama 2015-09-29 2016-09-21
PER                               Peru 2014-09-24 2016-07-25
PLW                              Palau 2015-03-10 2016-04-22
RWA                             Rwanda 2015-11-20 2016-10-06
SGP                          Singapore 2014-09-23 2016-09-21
SLB                    Solomon Islands 2014-09-05 2016-09-21
SWZ                          Swaziland 2016-09-21 2016-09-21
SYC                         Seychelles 2015-07-15 2016-04-29
THA                           Thailand 2015-09-01 2016-09-21
TUV                             Tuvalu 2014-12-04 2016-04-22
UGA                             Uganda 2015-07-08 2016-09-21
VNM                           Viet Nam 2015-06-22 2016-11-03
WSM                              Samoa 2015-09-18 2016-04-22
ZAF                       South Africa 2015-05-07 2016-11-01

In [208]:
print("Doha only: {}\nParis only: {}\nBoth Doha and Paris: {}".format(len(only_doha), len(only_paris), len(both)))

Doha only: 20
Paris only: 60
Both Doha and Paris: 53